body {
    margin: 0;
    text-align: center;
    font-family:  "Merriweather", serif;
    font-size: 200%;
}

h1 {
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    font-family: "Sacramento", cursive;
    color: #66BFBF;
}

h2 {
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
}

p {
    line-height: 2;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
a:hover {
    color: #eaf696;
}

.copyright {
    color: #eaf696;
    font-size: 0.75rem;
    margin: 20px 0;
}

.top-container {
    background-color: #BDF2D5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    color: #66BFBF;
    margin: 10px 20px;
    text-decoration: none;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 400px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 400px;
    bottom: 300px;
}

.footer-link {
    color: #11999E;
}

.intro {
    width: 50%;
    margin: auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.computer-logo {
    height: 100%;
    float: left;
    margin-right: 30px;
}

.broncos-logo {
    width: 60%;
    float: right;
    margin-left: 30px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 8px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }